<h2><%=@team.name%></h2>

<dl>
  <dt>Point Guard: </dt><dd><%=@team.point_guard%></dd>
  <dt>Shooting Guard: </dt><dd><%=@team.shooting_guard%></dd>
  <dt>Small Forward: </dt><dd><%=@team.small_forward%></dd>
  <dt>Power Forward: </dt><dd><%=@team.power_forward%></dd>
  <dt>Center: </dt><dd><%=@team.center%></dd>
  <dt>Sixth Man: </dt><dd><%=@team.sixth_man%></dd>
</dl>

<br></br>

<form class="" action="/teams/<%=@team.slug%>/delete" method="post">
  <button type="submit" name="Delete Team">Delete Team</button>
</form>

<form class="" action="/teams/<%=@team.slug%>/edit" method="get">
  <button type="submit" name="Edit Team">Edit Team</button>
</form>
