<h2><%=@team.name%></h2>

<dl>
  <dt><strong>Point Guard: </strong></dt><dd><%=@team.point_guard%></dd>
  <dt><strong>Shooting Guard: </strong></dt><dd><%=@team.shooting_guard%></dd>
  <dt><strong>Small Forward: </strong></dt><dd><%=@team.small_forward%></dd>
  <dt><strong>Power Forward: </strong></dt><dd><%=@team.power_forward%></dd>
  <dt><strong>Center: </strong></dt><dd><%=@team.center%></dd>
  <dt><strong>Sixth Man: </strong></dt><dd><%=@team.sixth_man%></dd>
</dl>

<br></br>

<form class="" action="/teams/<%=@team.slug%>/delete" method="post">
  <button type="submit" name="Delete Team">Delete Team</button>
</form>

<form class="" action="/teams/<%=@team.slug%>/edit" method="get">
  <button type="submit" name="Edit Team">Edit Team</button>
</form>

<form class="" action="/teams" method="get">
  <button type="submit" name="Edit Team">Back to Teams</button>
</form>
